<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Checkout</h1>
    <table>
        <thead>
            <tr><th>Name</th><th>Price</th><th>Quantity</th><th>Total</th></tr>
        </thead>
        <tbody>
            {% for item in basket %}
            <tr>
                <td>{{ item.stockbr.name }}</td>
                <td>{{ "£" }}{{ item.stockbr.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ "£" }} {{ item.total }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td><p>Order total</p></td>
                <td>£{{ order_total }}</td>
            </tr>
        </tbody>
   </table>
   <form method="get" action="{{ url_for('payment') }}">
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name }}
    <br> 
    {{ form.address1.label }} {{ form.address1 }}
    <br>  
    {{ form.address2.label }} {{ form.address2 }}
    <br>  
    {{ form.postcode.label }} {{ form.postcode }}
    <br> 
    {{ form.payment }}
</body>
</html>