<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Payment</h1>
    <form method="post" action="{{ url_for('order_placed') }}">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>{{ form.name.label }}</td>
                <td>{{ form.name }}</td>
            </tr>
            <tr>
                <td>{{ form.card_num.label }}</td>
                <td>{{ form.card_num }}</td>
            </tr>
            <tr>
                <td>{{ form.expiry_month.label }}</td>
                <td>{{ form.expiry_month }} </td>
            </tr>
            <tr>
                <td>{{ form.expiry_year.label }}</td>
                <td>{{ form.expiry_year }} </td>
            </tr>
            <tr>
                <td>{{ form.cvc.label }}</td>
                <td>{{ form.cvc }}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form.buy_now }}</td>
            </tr>
        </table>
    </form>
</body>
</html>