<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Products</h1>
    {% for plant in stock %}
    <div class="container">
        <div class="row justify-content-around mt-1">
            <div class="col-sm-3 col-md-4 col-lg-4 text-center">
                <div class="d-flex flex-column align-items-center">
                    <img src="{{url_for('static', filename='plant1.jpg')}}">
                    <a href="/product1" class="mt-1">{{ plant.name }}</a>
                    <details class="mt-1">
                        <summary>More info</summary>
                        <p>{{ plant.summary }}</p>
                    </details>
                    <p>Remaining: {{ plant.stock }}</p>
                    <div class="row align-items-center">
                        <form method="post" action="">
                            {{ form.hidden_tag() }}
                            <input type="hidden" name="stock_id" value="{{ plant.id }}">
                            {{ form.quantity.label }} {{ form.quantity }}
                            <br>
                            {{ form.submit() }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</body>
</html>